<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- fontawesome -->
    <link rel="stylesheet" href="fontawesome-free/css/all.css">

    <!-- custom stylesheet -->
    <link rel="stylesheet" href="styles.css">

    <!--Google fonts (Cabin & montserrat) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
    <style>
        @media print {
          @page {
              size: A4 portrait;
              margin: 5%; 
          }
        }
      </style>
    <title>Labory</title>
</head>
<body>
    
    <div class="custom-padding" id="report-content">

      
        <div class="col-lg-4 col-md-12 col-12 mb-3">
        <img src="data:<%= profile.mimetype %>;base64,<%= profile.logo %>" alt="" class="col-lg-6 col-md-4 col-6" style="width: 20%;">
        </div>
        <div class="col-lg-6 col-md-12 col-12 mb-5">
          <table>
            <tr>
              <td><%= profile.name %></td>
            </tr>
            <tr>
              <td><%= profile.address %></td>
            </tr>
            <tr>
              <td><%= profile.number %></td>
            </tr>
            <tr>
              <td><%= profile.email %></td>
            </tr>
          </table>
        </div>
        <h1>PATIENT REPORT</h1>
        <hr>
          <div class="row mt-4">
            <div class="col-lg-4 col-md-12 col-12">
              <table>
                <tr>
                  <td class="pe-3">Name:</td>
                  <td><%= patient.name %></td>
                </tr>
                <tr>
                  <td class="pe-3">Age:</td>
                  <td><%= patient.age %></td>
                </tr>
                <tr>
                  <td class="pe-3">Date:</td>
                  <td><%= patient.date %></td>
                </tr>
              </table>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <table>
                <tr>
                  <td class="pe-3">Number:</td>
                  <td><%= patient.number %></td>
                </tr>
                <tr>
                  <td class="pe-3">Email:</td>
                  <td><%= patient.email %></td>
                </tr>
                <tr>
                  <td class="pe-3">Address:</td>
                  <td><%= patient.address %></td>
                </tr>
              </table>
            </div>
          </div>

          
          <% report.tests.forEach(test => { %>
            <h3 class="mt-5"><%= test.name %></h3>
            <table class="table my-3">
                <tbody>
                    <thead>
                        <tr>
                          <th scope="col" style="width:35%">Entry Name</th>
                          <th scope="col" style="width:10%">Value</th>
                          <th scope="col">Range</th>
                        </tr>
                      </thead>
                <% for (let index = 0; index < test.entries.length; index++) { %>
                    <tr>
                      <div class=""">
                      <td><%= test.entries[index].name %></td>
                    </div>
                      <td><%= (test.values[index] == 0) ? 'N/A' : test.values[index] %></td>
                      <td><%= test.entries[index].range %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            
          <% }) %> 
          <h1>Remarks</h1>
          <div class="col-lg-6 col-md-8 col-12">
            <p> <%= report.remark %> </p>
            
          </div>
          <p class="watermark text-center my-5" style="color: gray;">Created using LABORY</p>
          
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>


</html>