<%- include("partials/header"); -%> 
    
    <div class="custom-padding" id="report-content">

      
        <div class="col-lg-4 col-md-12 col-12 mb-3">
        <img src="data:<%= profile.mimetype %>;base64,<%= profile.logo %>" alt="" class="col-lg-6 col-md-4 col-6">
        </div>
        <div class="col-lg-6 col-md-12 col-12 mb-5">
          <table>
            <tr>
              <!-- <td class="pe-3">Name:</td> -->
              <td><%= profile.name %></td>
            </tr>
            <tr>
              <!-- <td class="pe-3">Address:</td> -->
              <td><%= profile.address %></td>
            </tr>
            <tr>
              <!-- <td class="pe-3">Number:</td> -->
              <td><%= profile.number %></td>
            </tr>
            <tr>
              <!-- <td class="pe-3">Email:</td> -->
              <td><%= profile.email %></td>
            </tr>
          </table>
        </div>
        <h1 class="">PATIENT REPORT</h1>
        <hr>
          <div class="row mt-4">
            <div class="col-lg-4 col-md-12 col-12">
              <table>
                <tr>
                  <td class="pe-3">Name:</td>
                  <td><%= patient.name %></td>
                </tr>
                <tr>
                  <td class="pe-3">Age:</td>
                  <td><%= patient.age %></td>
                </tr>
                <tr>
                  <td class="pe-3">Date:</td>
                  <td><%= patient.date %></td>
                </tr>
              </table>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <table>
                <tr>
                  <td class="pe-3">Number:</td>
                  <td><%= patient.number %></td>
                </tr>
                <tr>
                  <td class="pe-3">Email:</td>
                  <td><%= patient.email %></td>
                </tr>
                <tr>
                  <td class="pe-3">Address:</td>
                  <td><%= patient.address %></td>
                </tr>
              </table>
            </div>
          </div>

          
          <% report.tests.forEach(test => { %>
            <h3 class="mt-5"><%= test.name %></h3>
            <table class="table my-3">
                <tbody>
                    <thead>
                        <tr>
                          <th scope="col" style="width:35%">Entry Name</th>
                          <th scope="col" style="width:10%">Value</th>
                          <th scope="col">Range</th>
                        </tr>
                      </thead>
                <% for (let index = 0; index < test.entries.length; index++) { %>
                    <tr>
                      
                      <td><%= test.entries[index].name %></td>
                   
                      <td><%= (test.values[index] == 0) ? 'N/A' : test.values[index] %></td>
                      <td><%= test.entries[index].range %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            
          <% }) %> 
            <h1>Receipt</h1>
            <table class="table my-3">
              <tbody>
                  <thead>
                      <tr>
                        <th scope="col" style="width:50%">Test Name</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <% let sum=0 %>
              <% for (let index = 0; index < report.tests.length; index++) { %>
                  <tr>
                    <% sum = sum+ report.tests[index].price; %>
                    <td><%= index+1 %>. <%= report.tests[index].name %></td>
                    <td><%= report.tests[index].price %></td>
                  </tr>
              <% } %>
                  <tr>
                    <td><b>Total</b></td>
                    <td><b><%= sum %></b></td>
                  </tr>
              </tbody>
          </table>

            <h1>Remarks</h1>
            <div class="col-lg-6 col-md-8 col-12">
              <p> <%= report.remark %> </p>
            </div>

          <form action="/changeRemark/<%= report.uuid %>" method="post" class="my-5">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave remarks here" name="remarks" id="floatingTextarea2" style="height: 100px" required></textarea>
              <label for="floatingTextarea2">Edit Remarks</label>
            </div>
            
            <button type="submit" class="btn btn-outline-dark mt-4">Update Remarks</button>
            <a type="button" class="btn btn-dark mt-4" href="/downloadReport/<%= report.uuid %>" onclick="displayMsg()">Download PDF</a>
            <div>
            <small id="downloadMsg"></small>
            </div>
            
          </form>

          

          <p class="watermark text-center my-5">Created using LABORY</p>
            <!-- <button onclick="downloadPDF()">submit</button> -->

          
        
    </div>
    <script>
      function displayMsg() {
        let msg = document.getElementById("downloadMsg");
        msg.innerHTML = "Processing ..."
        setTimeout(function(){ 
          msg.innerHTML = "Downloading..."

          setTimeout(function(){ 
          msg.innerHTML = ""
         }, 2000);

         }, 2000);
        
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>


</html>